.about {
    // height: 100vh;
    position: absolute;
    width: 100%;
    // overflow: hidden;
    background: linear-gradient(45deg, $secondary-color, #000000);

    &-bio {
        // width: 80%;
        text-align: center;
        color: #fff;
        .text-secondary {
            color: $split-color;
            padding-bottom: 1rem;
        }
    }

    .jobs {
        width: 60vw;
        margin: 2rem auto 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        color: white;
        &-job {
            background: lighten($primary-color, .010%);
            padding: 0.5rem;
            border-bottom: 5px solid $split-color;

            h2 {
                color: $split-color;
                margin: 0.5rem 0;
            }
            h3 {
                // color: $split-color;
                margin: 0.5rem 0;
            }

            h6 {
                margin: 0.4rem 0;
                // color: $secondary-color;
                text-transform: uppercase;
            }
        }
    }

    &-menu {
        &-list {
            height: 10vh;
            display: flex;
            width: 30%;
            align-items: center;
            justify-content: space-around;
            margin-left: auto;
            list-style: none;
            text-transform: uppercase;
            text-align: center;
            display: flex;
            align-items: center;
            font-size: 20px;

            &-item {
                position: relative;
                color: transparent;
                cursor: pointer;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: $split-position;
                    left: -10%;
                    right: -10%;
                    height: $split-thickness;
                    border-radius: $split-thickness;
                    margin-top: -($split-thickness / 2);
                    background: $split-color;
                    transform: scale(0);
                    transition: transform .8s cubic-bezier(.16, 1.08, .38, .98);
                    z-index: 1;
                }

                &:hover,
                &:active {
                    .Mask {
                        color: #FFF;
                        transform: skewX(12deg) translateX(5px);
                    }

                    .Mask+.Mask {
                        transform: skewX(12deg) translateX(-5px);
                    }

                    &::before {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .social-icons {
        display: flex;
        flex-direction: column;
    }

    footer {
        transform: rotate(90deg) translate(-3rem, -5rem);
    }
}


// .about-content {
//     height: 100%;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;


//     h1 {
//         color: #fff;
//         font-size: 50px;
//         margin: 30px 0px;
//     }

//     p {
//         color: #fff;
//         font-size: 20px;
//     }

//     h3 {
//         font-size: $font-size;
//         line-height: 1.2;
//         text-transform: uppercase;
//         text-align: center;
//         display: flex;
//         color: $split-color;
//         flex-direction: column;
//         align-items: center;
//         transform: rotateX(-15deg) rotateY(19deg);
//     }
// }